---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeroSection from "../components/hero-section/hero-section.astro";
import FavoriteProgrammingLanguages from "../components/favorite-programming-languages-section/favorite-programming-languages.astro";
import BlogSection from "../components/blog-section/index.astro";
const image = "some_image_file.png";
import { getCollection } from "astro:content";
import { render } from "astro/dist/runtime/server";

const posts = await getCollection("blog", ({ data }) => {
  return data.section == "kyle";
}).then((posts) => {
  return posts.sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  );
});


const lists = await getCollection("lists", (list) => {
  if (import.meta.env.PROD) {
    return list.data.draft === false;
  } else return true;
});

const blender_list = lists.filter(item => {
	return item.data.category.includes('rust');
});

if (lists === undefined) {
  throw new Error("no lists");
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead image={image} title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <HeroSection />
    <!-- <BlogSection {posts} /> -->
    <!-- <FavoriteProgrammingLanguages /> -->
    <!-- <main> -->
    <!-- <div class="lists">
      {
        blender_list.map((item) => (
          <>
            <li>{item.data.title}</li>
			{
				item.render().then(({Content}) => {
					return <Content /> ;
				})
			}
          </>
        ))
      }
    </div> -->
    <Footer />
  </body>
</html>
