---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeroSection from "../components/hero-section/hero-section.astro";
import BlogSection from "../components/blog-section/index.astro";
const image = "some_image_file.png";
import PocketBase from 'pocketbase';

const pb = new PocketBase('https://api.manning.jp');


// fetch a paginated records list
// filter: 'created >= "2022-01-01 00:00:00" && someField1 != someField2',
const result_list = await pb.collection('get_posts').getList(1, 50);
const published = result_list.items;

// you can also fetch all records at once via getFullList
// const records = await pb.collection('get_posts').getFullList({
//     sort: '-created',
// });

// or fetch only the first record that matches the specified filter
// const record = await pb.collection('get_posts').getFirstListItem('someField="test"', {
//     expand: 'relField1,relField2.subRelField',
// });
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead image={image} title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <meta charset="UTF-8" />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <HeroSection />
    <BlogSection {published} />
    <Footer />
  </body>

</html>
